* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
    padding: 0;

}

.menu-link {
    list-style-type: none;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 13px;
    text-decoration: none;

}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    text-decoration: none;
    list-style-type: none;
}


.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;

}


.slider-text {
    margin-top: 283px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;

}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.circle:hover {
    background-color: #212121;
}

.button:hover {
    color: aliceblue;
    background-color: #212121;
}

.feacured_new {
    height: 609px;
}

.header_featured_menu {
    padding-top: 100px;
    display: inline-block;
    width: 100%;
    color: #6c6c6c;
}

.feacured_menu {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.feacured_menu_list {
    list-style-type: none;
    float: left;


}

.feacured_menu_list li {
    display: list-item;
    text-align: left;
    color: #6c6c6c;
}

.feacured_menu_link {
    font-weight: 700;
    padding: 10px 10px;
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
    text-decoration: none;
}

.feacured_menu_link:hover {
    color: #212121;
    border-bottom: 3px solid #6c6c6c;
    text-decoration: none;
}


.feacured_product_link:hover {
    opacity: 0.15;
}

._active {
    color: #212121;
    border-bottom: 3px solid #212121;
}


.explore_all {
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    display: inline;
    line-height: 43px;
}

.explore_all:hover {
    color: #6c6c6c;
    border-bottom: 1px solid #212121;
}

.feacured_product_list {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.feacured_product_link {
    float: left;
    padding: 0 10px;
}

.padding-site2 {
    padding-left: 0px;
    padding-right: 0px;
}

.exclusive1 {
    width: 1366px;
    height: 683px;
}

.exclusive1_text1 {
    background-image: url(img/promo-img1.jpg);
    float: left;
    width: 633px;
    height: 683px;
    overflow: hidden;
    padding-left: 50px;
}

.exclusive1_text2 {
    background-image: url(img/promo-img2.jpg);
    float: left;
    width: 633px;
    height: 683px;
    overflow: hidden;
    padding-left: 50px;
}

.exclusive_text {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 228px;

}

.exclusive_h2 {

    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive_content {
    width: 332px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;

}

.button_exclusive {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button_exclusive:hover {
    color: aliceblue;
    background-color: #212121;
}

.trend {
    height: 1100px;
}

.header_trending {
    padding-top: 100px;
    display: inline-block;
    width: 100%;
}

.trending {
    float: left;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.trending_product {
    margin-top: 50px;
    padding-bottom: 50px;
    height: 1100px;
}

.trend_product_list {
    list-style-type: none;
    float: left;

}

.trend_product_list li {
    display: list-item;
    float: left;
}

.trend_product_link {
    list-style-type: none;
    float: left;
    padding: 10px 10px;
}

.hotdeal {
    height: 800px;
    background-image: url(img/slider.jpg);
    position: relative;

}

.slider_hot_text {
    padding-top: 278px;
}

.slider_hot {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.slider_hot_h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}

.slider_hot_content {
    color: #6c6c6c;
    width: 458px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination2 {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.exclusive_pillow {
    height: 750px;
}

.red_pillow {
    padding-top: 100px;
}

.exclusive_pilow1 {
    background-image: url(img/product-1-lg.jpg);
    float: left;
    width: 570px;
    height: 570px;
    display: inline-block;
    margin-right: 15px;
}

.exclusive_pilow1_text {
    padding-top: 182px;
    padding-left: 30px;
}

.exclusive_pilow1_text {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;

}

.red_pillow_link {
    padding: 10px 10px 10px;
    float: left;
    overflow: hidden;

}

.mobile_app {
    height: 516px;
    background-image: url(img/back-img.jpg)
}

.header_mobile_app {
    padding-top: 120px;
}

.mobile_app_text {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile_app_h2 {
    width: 530px;
    color: #212121;
    height: 116px;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;

}

.mobile_app_text2 {
    color: #6c6c6c;
    width: 503px;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.appstore_link {
    float: left;
    overflow: hidden;
    padding: 0px 5px;
}

.googleplay_link {
    float: left;
    overflow: hidden;
    padding: 0px 5px;
}

.section {
    display: block;
    float: left;

}

.contacts {
    height: 400px;
    background-color: #f7f7f7;
}

.main_contacts_text {
    padding-top: 100px;
}

.contacts_text1 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.contacts_text {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.sectionCU {
    width: 250px;
    height: 102px;
    float: left;
}

.contacts_textCU_url {
    padding-bottom: 24px;
    width: 132px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.contacts_textST_url {
    padding-bottom: 24px;
    width: 332px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

}

.contacts_textUI_url {

    width: 432px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.ST_url,
.UI_url,
.CU_url {
    text-decoration: none;
    color: #6c6c6c;
}

.sectionUI {
    width: 430px;
    height: 63px;
    padding-left: 80px;
    float: left;
}

.sectionST {
    width: 363px;
    height: 36px;
    padding-left: 40px;
    float: left;
}

.salescustdel {
    padding-top: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    float: left;
}

.arccarexc {
    padding-top: 24px;
    padding-left: 103px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 200px;
}

.mail {
    width: 360px;
    height: 28px;
    background: url(img/arrow.png) no-repeat;
    background-position: 95% 50%;
}




.footer_copyright {
    display: table;
    width: 100%;
    border-spacing: 0px;
    align-content: center;
    text-align: center;
    padding-top: 117px;
}

.left_footer_text,
.right_footer_text {
    display: table-cell;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

/*.trend_product_list {
    height: 2000px;
}*/

.slider_product_list {
    height: 360px;
    background-image: url(img/hero-back.svg);
    position: relative;
}

.text_product_list {
    padding-top: 150px;
    padding-bottom: 44px;
    font-size: 62px;
    line-height: 72px;
    font-weight: 200;
    color: #212121;
}

.header_list_product {
    padding-top: 80px;
}

.trending_product {
    margin-top: 20px;
    padding-bottom: 50px;
    height: 1100px;
}

.list_product {
    width: 647px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 13px;
}



.all_product_list {
    height: 1700px;
    width: 1366px;
}

.trending_product {
    height: 1500px;
}

.contacts_product_list {
    float: left;
    height: 400px;
    background-color: #f7f7f7;
}

.arrow {
    padding-bottom: 150px;
    text-align: center;
    padding-top: 50px;


}

.location {
    width: 1170px;
    height: 370px;
    margin-top: 70px;
    margin-bottom: 122px;
}

.location1 {
    float: left;
    width: 370px;
    height: 370px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    display: inline-block;
    text-align: center;
}

.location2 {
    float: left;
    width: 370px;
    height: 370px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.location3 {
    width: 370px;
    height: 370px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    display: inline-block;
    text-align: center;
}

.map {
    padding-top: 48px;
    width: 38px;
    height: 48px;
}

.location_text {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    text-transform: uppercase;
    padding-top: 29px;
}

.location_details_phone {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 23px;
}

.location_details_namber,
.location_details_email_text {
    font-weight: 700;
}

.location_details_email,
.location_details_adress {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 12px;
}

.location_details_adress_text {
    color: #6c6c6c;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.slider_product {
    height: 150px;

}

.product_menu {
    height: 70px;
    background-color: #f4f4f4;
}

.product_menu_header {
    text-align: center;
    padding-top: 18px;
}

.img_product {
    margin-top: 72px;
}

.mini_product_pic {
    padding-left: 5px;
    padding-right: 5px;
}

.mini_product {
    margin-left: 150px;
    margin-top: 1px;
}

.product_text {
    width: 499px;
    height: 244px;
    float: right;
    margin-right: 132px;
}

.product_main {
    display: inline-block;
}

.product_text {
    width: 499px;
    height: 244px;
    float: right;
    margin-right: 132px;
}

.product_text_h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 119px;
    text-align: center;
    margin-bottom: 10px;
}

.product_hot_deal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;
    margin-bottom: 3px;
}

.product_hot_cost {
    color: #212121;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    float: left;
}

.product_cost {
    color: #212121;
    font-weight: 300;
    font-size: 72px;
    text-transform: uppercase;
    float: left;
}

._1,
._2 {
    margin-top: 35px;
    padding-left: 5px;
    padding-right: 18px;
}

.hot_cost {
    margin-left: 119px;
    margin-bottom: 20px;
    display: inline-block;
}

.button_hot {
    width: 510px;
    height: 71px;
    line-height: 71px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    border-radius: 50px;
    margin-bottom: 49px;
}

.button_hot:hover {
    background-color: red;
}

.product_trend {
    height: 700px;
}

.prod_trending_product {
    height: 700px;
}
